name: Release

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  release-charts:
    permissions:
      contents: write
      pages: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Install Helm
        uses: azure/setup-helm@v4

      - name: Helm Repo Add Bitnami
        run: |
          helm repo add bitnami https://charts.bitnami.com/bitnami

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.7.0
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
        with:
          charts_dir: charts/
          skip_existing: true

      - name: Copy README to gh-pages
        run: |
          git fetch origin gh-pages
          git switch gh-pages
          git checkout main -- README.md
          if ! git diff --quiet HEAD README.md; then
            git add README.md
            git commit -m "Update README on gh-pages"
            git push origin gh-pages
          fi
          git switch -
